sinliarg.rnc

# Gramática en formato RELAX-NG de los mensajes SINLI-Argentina
grammar {
    start =
        element CATALOGO { archivo , origen , destino , contenidocatalogo } |
        element CAMBIOPRECIO { archivo , origen , destino , contenidocambiodeprecio } |
        element PEDIDO { archivo , origen , destino , contenidopedido } |
        element REMITO { archivo , origen , destino , contenidoremito } |
        element FACTURA { archivo , origen , destino , contenidofactura } |
        element DECLAVENTA { archivo , origen , destino , contenidodeclaventa } |
        element FACREM { archivo , origen , destino , contenidofacturaremito } |
        element ACUSERECIBO { archivo , origen , destino , contenidoacuserecibo } |
        element MENSAJEGENERICO { archivo , origen , destino , contenidomensajegenerico } |
        element SOLICITUD_DEVOLUCION { archivo , origen , destino , contenidomensajegenerico } |
        element SOLICITUD_RETIRO_DEVOLUCION { archivo , origen , destino , contenidomensajegenerico } |
        element RETIRO_DEVOLUCION { archivo , origen , destino , contenidomensajegenerico } |
        element RECEPCIONDEVOLUCION { archivo , origen , destino , contenidorecepciondevolucion } |
        element RECEPCIONDEVOLUCION_PENDIENTE { archivo , origen , destino , contenidorecepciondevolucion } |
        element NOTACREDITO { archivo , origen , destino , contenidonotacredito } |
        element NOTADEVOLUCION { archivo , origen , destino , contenidonotadevolucion }
    tipomensaje = element CODIGO { "PEDIDO" | "REMITO" | "FACTURA" |
                             "DECLAVENTA" | "FACREM" |
                             "MENSAJEGENERICO" | "NOTACREDITO" |
                             "NOTADEVOLUCION" | "RECEPCIONDEVOLUCION" |
                             "RECEPCIONDEVOLUCION_PENDIENTE" |
                             "ACUSE_RECIBO" | "CATALOGO" | "CAMBIOPRECIO" |
                             "CATALOGO" }
    ## Informacion general del archivo/mensaje
    archivo = element ARCHIVO {
            ## Descripción en texto libre del contenido del archivo
            element DESCRIPCION { text } ,
            element FECHA { xsd:dateTime } , # AAAA-MM-DDTHH:MM:SS
            element VERSION { "1.0" | "1.1" | "1.1.1" | "2.0" } ,
            ## Tipo de archivo/mensaje. Coincide con el elemento raíz
            tipomensaje ,
            ## Identificador opcional, identifica unívocamente un mensaje dentro de los mensajes del emisor
            ## si se reciben de un emisor dos mensajes con el mismo identificador, deben considerarse
            ## como duplicados
            element IDENTIFICADOR { text }?
    }
    ## Información del remitente
    origen = element ORIGEN {
            element NOMBRE { text } ,
            element ID_FISCAL { text }? ,
            ## Identificador de la sucursal. Los asigna cada empresa, debe comunicárselo a sus pares.
            ## Es obligatorio incluirlo en las empresas que tienen sucursales en los siguientes casos:
            ##   1. PEDIDO, cuando no se indica en el campo "DETALLE"
            element ID_SUCURSAL { text }? ,
            element CODIGO_SINLI { text } ,
            ## Identificador de la librería según la tabla de mislibrerias.com.ar
            ## Este identificador se forma de la siguiente forma:
            ## CUIT-CODIGO_SUCURSAL - Ejemplo: 30709533939-0123
            element NUMERO_UNICO_LIBRERIA { text }?
    }
    ## Información del destinatario
    destino = element DESTINO {
            element NOMBRE { text } ,
            element ID_FISCAL { text }? ,
            ## Identificador de la sucursal. Los asigna cada empresa, debe comunicárselo a sus pares.
            ## Es obligatorio incluirlo en las empresas que tienen sucursales en los siguientes casos:
            ##   1. REMITO
            element ID_SUCURSAL { text }? ,
            element CODIGO_SINLI { text } ,
            ## Identificador de la librería según la tabla de mislibrerias.com.ar
            ## Este identificador se forma de la siguiente forma:
            ## CUIT-CODIGO_SUCURSAL - Ejemplo: 30709533939-0123
            element NUMERO_UNICO_LIBRERIA { text }?
    }
    observaciones = element OBSERVACIONES {
        element ITEM {
            element ASUNTO { text }?,
            element CUERPO { text }
        }+
    }
    librocantidad = element ITEM {
        element CANTIDAD { xsd:int } ,
        id_libro
    }
    letrafactura = element LETRA { "A" | "B" | "C" | "E" | "M" }
    moneda = element MONEDA { "ARS" | "USD" | "EUR" }

    precio = element PRECIO {
        moneda,
        element VALOR { xsd:decimal },
        element TIPO { "PVP" | "NETO" | "PVP_SINIVA" | "NETO_SINIVA" },
        element ALICUOTA_IVA { xsd:decimal }?
    }
    librocantidadpreciooptativo = element ITEM {
        element CANTIDAD { xsd:int } ,
        id_libro,
        precio?
    }
    itemremito = element ITEM {
        element CANTIDAD { xsd:int } ,
        id_libro,
        precio?,
        element DESCUENTO { xsd:decimal }?,
        aduana?
    }
    any_content = any_element* & text
    any_attribute = attribute * { text }
    any_element = element * { any_attribute*, any_content }
    contenidocatalogo = element CONTENIDO {
        element ITEM {
            element ISBN_13 { text },
            element ISBN_10 { text },
            element EAN { text },
            element COD_ARTICULO { text },
            element TITULO { text },
            element SUBTITULO { text },
            element CONTRATAPA { text },
            element SINOPSIS { any_content },
            element METADATA { text },
            element EDITORIAL { text },
            element COLECCION { text },
            element CODIGO_BARRACOLECCION { text },
            element FECHA_PUBLICACION { text },
            element PRECIO_COMPRA { xsd:decimal },
            element MONEDA_COMPRA { text },
            element PRECIO_VENTA { xsd:decimal },
            element MONEDA_VENTA { text },
            element ESTADO { text },
            element NOVEDAD { text },
            element ES_TEXTO { text },
            element IDIOMA { text }?,
            element PAGINAS { text },
            element ALTURA { xsd:int },
            element LARGO { xsd:int },
            element ANCHO { xsd:int },
            element UM { text },
            element PESO { xsd:int },
            element UM_PESO { text },
            element NRO_EDICION { text },
            element FORMATO { text },
            element PAIS_IMPRESION { text },
            element FECHA_IMPRESION { text },
            element ACTIVO { text },
            element AGOTADO { text },
            element CATEGORIAS {
                element CATEGORIA {
                    attribute TIPO { text },
                    text
                }*
            },
            element LINKS {
                element LINK {
                    attribute TIPO { text },
                    text
                }*
            },
            element AUTORES {
                element ITEM {
                    attribute TIPO { text },
                    element APELLIDO { text },
                    element NOMBRE { text },
                    element BIOGRAFIA { text }
                }*
            }
        }+
    }
    contenidocambiodeprecio = element CONTENIDO {
        ## Fecha a partir de la cual los cambios de precio entran en vigencia
        element FECHA_VIGENCIA { xsd:dateTime },
        element CAMBIOS {
            cambiodeprecio+
        }
    }
    cambiodeprecio = element CAMBIO_DE_PRECIO {
        id_libro,
        precio,
        element DESCUENTO { xsd:decimal }?,
        element PRECIO_ANTERIOR {
            moneda,
            element VALOR { xsd:decimal },
            element TIPO { "PVP" | "NETO" | "PVP_SINIVA" | "NETO_SINIVA" }
        }
    }
    id_libro = element ID_LIBRO {
        ## Se deben tratar de completar la mayor cantidad de códigos
        ## posibles, para facilitar al receptor resolver ambigüedades

        element EAN { text } ,
        ## ISBN_13 con o sin guiones, de ser posible, con guiones
        element ISBN_13 { text }? ,
        element ISBN_10 { text }? ,
        ## Es el código interno con el que la EDITORIAL (o PROVEEDOR),
        ## se refiere al libro.
        element COD_ARTICULO { text } ? ,
        element TITULO { text } ?
    }
    contenidopedido = element CONTENIDO {
        element NUMERO_DOCUMENTO { text } ,
        element FECHA { xsd:dateTime } ,
        element TIPO_OPERACION { "FIRME" | "CONSIGNACION" | "FIRME_CON_DERECHO" | "DONACION" } ,
        element TIPO_ENTREGA { "ENVIO" | "RETIRA" } ,
        element TRANSPORTE { text }? ,
        element PAGA_EN { "ORIGEN" | "DESTINO" }? ,
        element OBSERVACIONES_ENTREGA { text }? ,
        element DETALLE {
            ## Sucursal a la que corresponde el pedido. Si no está presente se considera
            ## la sucursal indicada en la cabecera
            attribute ID_SUCURSAL { text }?,
            librocantidad+
        }+ ,
        observaciones?
    }
    contenidoremito = element CONTENIDO {
        ## En el caso de Argentina debe indicarse el número completo
        ## legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)
        element NUMERO_DOCUMENTO { text } ,
        ## Transporte de los números del remito - Optativo, si no está el remito 
        ## solo usa un solo número
        element TRANSPORTE_NUMERICO {
            element DESDE {text },
            element HASTA {text }
        }?,
        element FECHA { xsd:dateTime } ,
        ## Fecha de vencimiento del remito.
        element FECHA_VTO { xsd:dateTime }? ,
        ## Número de pedido de quien recibe el remito (cliente)
        ## También conocido como número de Orden de Compra
        element NUMERO_PEDIDO { text }? ,
        ## Número de pedido del emisor del remito
        element NUMERO_PEDIDO_PROVEEDOR { text }? ,
        element TIPO_OPERACION { "FIRME" | "CONSIGNACION" | "FIRME_CON_DERECHO" | "DONACION" } ,
        element TIPO_ENTREGA { "ENVIO" | "RETIRA" } ,
        element TRANSPORTE { text }? ,
        element OBSERVACIONES_ENTREGA { text }? ,
        element DETALLE {
            itemremito+
        },
        observaciones?
    }

    aduana = element ADUANA {
        ## Número de despacho a plaza
        element NUMERO_DESPACHO { text },
        ## TODO: definir la codificación del país
        element PAIS_ORIGEN { text }      
    }

    impuesto = element IMPUESTO {
        element TIPO { "IVA" | "PERC_IIBB" | "PERC_IVA" | "BASE_RETENCION_IIBB" },
        ## Provincia para la base de retencion iibb.
        element PROVINCIA { text }?,
        element ALICUOTA { xsd:decimal }?,
        ## Base sobre la que se calcula el importe, en el caso del IVA
        ## sería el NETO GRAVADO.
        ## En el caso de la BASE_RETENCION_IIBB la suma de las bases
        ## no incluyen otros impuestos
        element BASE { xsd:decimal }?,
        ## En el caso de BASE_RETENCION_IIBB, que es solo informativo
        ## el importe sería cero.
        element IMPORTE {xsd:decimal }?
    }

    referencia_a_remito = element ITEM {
        element NUMERO_REMITO { text },
        element CANTIDAD { xsd:int }
    }

    itemfactura = element ITEM {
        element CANTIDAD { xsd:int } ,
        id_libro ,
        precio ,
        element DESCUENTO { xsd:decimal } ,
        ## Detalle de los remitos a los que aplica el ítem de factura
        ## Si está indicado, la suma de las cantidades debe coincidir con la
        ## cantidad del ítem
        element REMITOS {
            referencia_a_remito+
        }? ,
        element TOTAL { xsd:decimal },
        aduana?
    }

    contenidofactura = element CONTENIDO {
        letrafactura? ,
        ## En el caso de Argentina debe indicarse el número completo
        ## legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)
        element NUMERO_DOCUMENTO { text } ,
        ## Transporte de los números del remito - Optativo, si no está el remito 
        ## solo usa un solo número
        element TRANSPORTE_NUMERICO {
            element DESDE {text },
            element HASTA {text }
        }?,
        element FECHA { xsd:dateTime } ,
        element FECHA_VTO { xsd:dateTime } ,
        ## Tipo de documento, si no se indica, es Factura
        element TIPO_DOCUMENTO { "FACTURA" | "NOTA_DE_DEBITO" }? ,
        element TIPO_OPERACION { "FIRME" | "BAJA_CONSIGNACION" | "FIRME_CON_DERECHO" |
            "OTROS" | "ND_RECHAZO_CHEQUE" | "ND_INTERES" } ,
        ## Número de pedido o de liquidación de venta, según corresponda
        ## si fuera contra varios pedidos, se separan los números con
        ## coma
        element NUMERO_PEDIDO { text }? ,
        ## Número de pedido del emisor del remito
        element NUMERO_PEDIDO_PROVEEDOR { text }? ,
        element NUMERO_DECLAVENTA { text }? ,
        ## Número de remito al que aplica la factura.
        ## Indicarlo implica que TODA la factura aplica a este remito.
        element NUMERO_REMITO { text }? ,
        ## Total de la factura - Incluye impuestos
        element TOTAL {
            moneda,
            element VALOR { xsd:decimal }
        },
        element IMPUESTOS {
            impuesto+
        }?,
        element DETALLE_TEXTO { text }?,
        element DETALLE {
            itemfactura+
        },
        observaciones?
    }

    itemfacturaremito = element ITEM {
        element CANTIDAD { xsd:int } ,
        id_libro ,
        precio ,
        element DESCUENTO { xsd:decimal } ,
        element TOTAL { xsd:decimal },
        aduana?
    }

    contenidofacturaremito = element CONTENIDO {
        ## En el caso de Argentina debe indicarse el número completo
        ## legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)
        letrafactura? ,
        element NUMERO_DOCUMENTO { text } ,
        ## Transporte de los números del remito - Optativo, si no está el remito 
        ## solo usa un solo número
        element TRANSPORTE_NUMERICO {
            element DESDE {text },
            element HASTA {text }
        }?,
        element FECHA { xsd:dateTime } ,
        element FECHA_VTO { xsd:dateTime } ,
        element TIPO_OPERACION { "FIRME" | "REPOSICION" | "FIRME_CON_DERECHO" } ,
        ## Número de pedido de quien recibe el remito (cliente)
        ## También conocido como número de Orden de Compra
        element NUMERO_PEDIDO { text }? ,
        ## Número de pedido del emisor del remito
        element NUMERO_PEDIDO_PROVEEDOR { text }? ,
        element TIPO_ENTREGA { "ENVIO" | "RETIRA" } ,
        element TRANSPORTE { text }? ,
        element OBSERVACIONES_ENTREGA { text }? ,
        ## Total de la factura
        element TOTAL {
            moneda,
            element VALOR { xsd:decimal }
        },
        element IMPUESTOS {
            impuesto+
        }?,
        element DETALLE {
            itemfacturaremito+
        },
        observaciones?
    }
    contenidodeclaventa = element CONTENIDO {
        element NUMERO_DOCUMENTO { text } ,
        element FECHA { xsd:dateTime } ,
        element TIPO_DECLARACION { "VENTA_ENTRE_FECHAS" | "DIFERENCIA_DE_STOCK" } ? ,
        element RANGO_DE_VENTAS {
            element DESDE { xsd:dateTime },
            element HASTA { xsd:dateTime }
        }?,
        element DETALLE {
            librocantidadpreciooptativo+
        },
        ## En este punto se indica la distribución impositiva
        ## para la base imponible de retención. Es solo indicativo
        ## para aquellos proveedores que no cuenten con esta
        ## información en su sistema.
        element IMPUESTOS {
            impuesto+
        }?,
        observaciones?
    }
    contenidomensajegenerico = element CONTENIDO {
        ## Tipos de mensajes:
        ## * SOLICITUD_DEVOLUCION: desde el editor al librero.
        ##   El editor solicita que le devuelvan determinados libros.
        ## * SOLICITUD_RETIRO_DEVOLUCION: desde el librero al editor,
        ##   que solicita que pasen a retirar una devolución.
        ## * RETIRO_DEVOLUCION: desde el librero al editor,
        ##   que informa que la devolución fue retirada.
        ## * OTRO: para otros casos.
        ## Número de remito en los casos en que aplica
        element NUMERO_REMITO { text }?,
        element DETALLE {
            attribute ID_SUCURSAL { text }?,
            librocantidadpreciooptativo+
        }*,
        observaciones?
    }

    itemrecepciondevolucion = element ITEM {
        ## Cantidad recibida
        element CANTIDAD { xsd:int } ,
        id_libro ,
        precio? ,
        ## Cantidad indicada en remito de cliente, si hubiera varios sería la suma
        element CANTIDAD_REMITO_CLIENTE { xsd:int }? ,
        ## Cantidad imputada a Notas de Crédito
        element CANTIDAD_NOTA_CREDITO { xsd:int }? ,
        ## Cantidad imputada a Notas de devolución de consignación
        element CANTIDAD_NOTA_DEVOLUCION { xsd:int }? ,
        ## Cantidad pendiente de imputación - Solo presente en documentos de
        ## tipo RECEPCIONDEVOLUCION_PENDIENTE
        element CANTIDAD_PENDIENTE { xsd:int }? ,
        ## Cantidad rechazada
        element CANTIDAD_RECHAZADA { xsd:int }?
    }

    contenidorecepciondevolucion = element CONTENIDO {
        ## Documento que emite el editor cuando recibe una devolución.
        ## donde informa las cantidades recibidas y a qué las imputa.
        ## Este elemento se usa para RECEPCIONDEVOLUCION y para
        ## RECEPCIONDEVOLUCION_PENDIENTE

        element NUMERO_DOCUMENTO { text }?,
        ## Número(s) de remito(s) de la devolución del librero
        element REMITOS_CLIENTE {
            element NUMERO_REMITO { text }+
        }?,
        element DETALLE {
            itemrecepciondevolucion +
        },
        observaciones?
    }
    contenidoacuserecibo = element CONTENIDO {
        ## Acuse de recibo
        element DOCUMENTO_REFERENCIA {
            tipomensaje ,
            element IDENTIFICADOR { text }?,
            element NUMERO_DOCUMENTO { text }?
        } ,
        element TIPO_ACUSE { "RECEPCION_ELECTRONICA" | "RECEPCION_FISICA" | "PROCESADO"} ,
        element RESULTADO { "OK" | "CON_INCIDENCIAS" | "RECHAZADO" } ,
        element DIFERENCIAS {
            element DIFERENCIA {
                id_libro,
                ## La cantidad que debería haberse recibido
                ## para que el documento se procese sin incidencias
                element CANTIDAD_TEORICA { xsd:int },
                ## La cantidad efectivamente recibida
                element CANTIDAD_REAL { xsd:int },
                element OBSERVACIONES { text }?
            }
        }? ,
        observaciones?
    }

    referencia_a_factura = element ITEM {
        element NUMERO_FACTURA { text },
        element CANTIDAD { xsd:int }
    }

    itemnotacredito = element ITEM {
        element CANTIDAD { xsd:int } ,
        id_libro ,
        precio ,
        element DESCUENTO { xsd:decimal } ,
        ## Detalle de los remitos a los que aplica el ítem de factura
        ## Si está indicado, la suma de las cantidades debe coincidir con la
        ## cantidad del ítem
        element FACTURAS {
            referencia_a_factura+
        }? ,
        element TOTAL { xsd:decimal }
    }

    contenidonotacredito = element CONTENIDO {
        letrafactura? ,
        ## En el caso de Argentina debe indicarse el número completo
        ## legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)
        element NUMERO_DOCUMENTO { text } ,
        element FECHA { xsd:dateTime } ,
        element MOTIVO { "DEVOLUCION" | "DESCUENTO" | "OTRO" |
            "DEVOLUCION_POR_FALLA" | "DIFERENCIA_FACTURACION" }? ,
        element NUMERO_DEVOLUCION { text }? ,
        ## Número de factura al que aplica la NC
        ## Indicarlo implica que TODA la NC aplica a esta factura
        element NUMERO_FACTURA { text }? ,
        ## Total de la NC - Incluye impuestos
        element TOTAL {
            moneda,
            element VALOR { xsd:decimal }
        },
        element IMPUESTOS {
            impuesto+
        }?,
        element DETALLE_TEXTO { text }?,
        element DETALLE {
            itemnotacredito+
        }?,
        observaciones?
    }

    itemnotadevolucion = element ITEM {
        element CANTIDAD { xsd:int } ,
        id_libro ,
        precio? ,
        ## Detalle de los remitos a los que aplica el ítem de factura
        ## Si está indicado, la suma de las cantidades debe coincidir con la
        ## cantidad del ítem
        element REMITOS {
            referencia_a_remito+
        }?
    }

    contenidonotadevolucion = element CONTENIDO {
        element NUMERO_DOCUMENTO { text } ,
        element FECHA { xsd:dateTime } ,
        element MOTIVO { "DEVOLUCION" | "AJUSTE" }? ,
        element NUMERO_DEVOLUCION { text }? ,
        ## Número de remito al que aplica la nota de devolución
        ## Indicarlo implica que TODA la dev aplica a este remito
        element NUMERO_REMITO { text }? ,
        element DETALLE {
            itemnotadevolucion+
        }?,
        observaciones?
    }

}
