sinliarg.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Gramática en formato RELAX-NG de los mensajes SINLI-Argentina -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <choice>
      <element name="CATALOGO">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidocatalogo"/>
      </element>
      <element name="CAMBIOPRECIO">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidocambiodeprecio"/>
      </element>
      <element name="PEDIDO">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidopedido"/>
      </element>
      <element name="REMITO">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidoremito"/>
      </element>
      <element name="FACTURA">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidofactura"/>
      </element>
      <element name="DECLAVENTA">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidodeclaventa"/>
      </element>
      <element name="FACREM">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidofacturaremito"/>
      </element>
      <element name="ACUSERECIBO">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidoacuserecibo"/>
      </element>
      <element name="MENSAJEGENERICO">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidomensajegenerico"/>
      </element>
      <element name="SOLICITUD_DEVOLUCION">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidomensajegenerico"/>
      </element>
      <element name="SOLICITUD_RETIRO_DEVOLUCION">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidomensajegenerico"/>
      </element>
      <element name="RETIRO_DEVOLUCION">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidomensajegenerico"/>
      </element>
      <element name="RECEPCIONDEVOLUCION">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidorecepciondevolucion"/>
      </element>
      <element name="RECEPCIONDEVOLUCION_PENDIENTE">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidorecepciondevolucion"/>
      </element>
      <element name="NOTACREDITO">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidonotacredito"/>
      </element>
      <element name="NOTADEVOLUCION">
        <ref name="archivo"/>
        <ref name="origen"/>
        <ref name="destino"/>
        <ref name="contenidonotadevolucion"/>
      </element>
    </choice>
  </start>
  <define name="tipomensaje">
    <element name="CODIGO">
      <choice>
        <value>PEDIDO</value>
        <value>REMITO</value>
        <value>FACTURA</value>
        <value>DECLAVENTA</value>
        <value>FACREM</value>
        <value>MENSAJEGENERICO</value>
        <value>NOTACREDITO</value>
        <value>NOTADEVOLUCION</value>
        <value>RECEPCIONDEVOLUCION</value>
        <value>RECEPCIONDEVOLUCION_PENDIENTE</value>
        <value>ACUSE_RECIBO</value>
        <value>CATALOGO</value>
        <value>CAMBIOPRECIO</value>
        <value>CATALOGO</value>
      </choice>
    </element>
  </define>
  <define name="archivo">
    <a:documentation>Informacion general del archivo/mensaje</a:documentation>
    <element name="ARCHIVO">
      <element name="DESCRIPCION">
        <a:documentation>Descripción en texto libre del contenido del archivo</a:documentation>
        <text/>
      </element>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <!-- AAAA-MM-DDTHH:MM:SS -->
      <element name="VERSION">
        <choice>
          <value>1.0</value>
          <value>1.1</value>
          <value>1.1.1</value>
          <value>2.0</value>
        </choice>
      </element>
      <ref name="tipomensaje">
        <a:documentation>Tipo de archivo/mensaje. Coincide con el elemento raíz</a:documentation>
      </ref>
      <optional>
        <element name="IDENTIFICADOR">
          <a:documentation>Identificador opcional, identifica unívocamente un mensaje dentro de los mensajes del emisor
si se reciben de un emisor dos mensajes con el mismo identificador, deben considerarse
como duplicados</a:documentation>
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="origen">
    <a:documentation>Información del remitente</a:documentation>
    <element name="ORIGEN">
      <element name="NOMBRE">
        <text/>
      </element>
      <optional>
        <element name="ID_FISCAL">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="ID_SUCURSAL">
          <a:documentation>Identificador de la sucursal. Los asigna cada empresa, debe comunicárselo a sus pares.
Es obligatorio incluirlo en las empresas que tienen sucursales en los siguientes casos:
  1. PEDIDO, cuando no se indica en el campo "DETALLE"</a:documentation>
          <text/>
        </element>
      </optional>
      <element name="CODIGO_SINLI">
        <text/>
      </element>
      <optional>
        <element name="NUMERO_UNICO_LIBRERIA">
          <a:documentation>Identificador de la librería según la tabla de mislibrerias.com.ar
Este identificador se forma de la siguiente forma:
CUIT-CODIGO_SUCURSAL - Ejemplo: 30709533939-0123</a:documentation>
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="destino">
    <a:documentation>Información del destinatario</a:documentation>
    <element name="DESTINO">
      <element name="NOMBRE">
        <text/>
      </element>
      <optional>
        <element name="ID_FISCAL">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="ID_SUCURSAL">
          <a:documentation>Identificador de la sucursal. Los asigna cada empresa, debe comunicárselo a sus pares.
Es obligatorio incluirlo en las empresas que tienen sucursales en los siguientes casos:
  1. REMITO</a:documentation>
          <text/>
        </element>
      </optional>
      <element name="CODIGO_SINLI">
        <text/>
      </element>
      <optional>
        <element name="NUMERO_UNICO_LIBRERIA">
          <a:documentation>Identificador de la librería según la tabla de mislibrerias.com.ar
Este identificador se forma de la siguiente forma:
CUIT-CODIGO_SUCURSAL - Ejemplo: 30709533939-0123</a:documentation>
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="observaciones">
    <element name="OBSERVACIONES">
      <oneOrMore>
        <element name="ITEM">
          <optional>
            <element name="ASUNTO">
              <text/>
            </element>
          </optional>
          <element name="CUERPO">
            <text/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="librocantidad">
    <element name="ITEM">
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
    </element>
  </define>
  <define name="letrafactura">
    <element name="LETRA">
      <choice>
        <value>A</value>
        <value>B</value>
        <value>C</value>
        <value>E</value>
        <value>M</value>
      </choice>
    </element>
  </define>
  <define name="moneda">
    <element name="MONEDA">
      <choice>
        <value>ARS</value>
        <value>USD</value>
        <value>EUR</value>
      </choice>
    </element>
  </define>
  <define name="precio">
    <element name="PRECIO">
      <ref name="moneda"/>
      <element name="VALOR">
        <data type="decimal"/>
      </element>
      <element name="TIPO">
        <choice>
          <value>PVP</value>
          <value>NETO</value>
          <value>PVP_SINIVA</value>
          <value>NETO_SINIVA</value>
        </choice>
      </element>
      <optional>
        <element name="ALICUOTA_IVA">
          <data type="decimal"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="librocantidadpreciooptativo">
    <element name="ITEM">
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
      <optional>
        <ref name="precio"/>
      </optional>
    </element>
  </define>
  <define name="itemremito">
    <element name="ITEM">
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
      <optional>
        <ref name="precio"/>
      </optional>
      <optional>
        <element name="DESCUENTO">
          <data type="decimal"/>
        </element>
      </optional>
      <optional>
        <ref name="aduana"/>
      </optional>
    </element>
  </define>
  <define name="any_content">
    <interleave>
      <zeroOrMore>
        <ref name="any_element"/>
      </zeroOrMore>
      <text/>
    </interleave>
  </define>
  <define name="any_attribute">
    <attribute>
      <anyName/>
    </attribute>
  </define>
  <define name="any_element">
    <element>
      <anyName/>
      <zeroOrMore>
        <ref name="any_attribute"/>
      </zeroOrMore>
      <ref name="any_content"/>
    </element>
  </define>
  <define name="contenidocatalogo">
    <element name="CONTENIDO">
      <oneOrMore>
        <element name="ITEM">
          <interleave>
            <element name="ISBN_13">
              <text/>
            </element>
            <element name="ISBN_10">
              <text/>
            </element>
            <element name="EAN">
              <text/>
            </element>
            <element name="COD_ARTICULO">
              <text/>
            </element>
            <optional>
              <element name="FECHA_ULTIMA_MODIFICACION">
                <data type="dateTime"/>
              </element>
            </optional>
            <element name="TITULO">
              <text/>
            </element>
            <element name="SUBTITULO">
              <text/>
            </element>
            <element name="CONTRATAPA">
              <optional>
                <attribute name="TIPO_CONTENIDO">
                  <choice>
                    <value>TEXTO_PLANO</value>
                    <value>HTML</value>
                  </choice>
                </attribute>
              </optional>
              <ref name="any_content"/>
            </element>
            <optional>
              <element name="SINOPSIS">
                <optional>
                  <attribute name="TIPO_CONTENIDO">
                    <choice>
                      <value>TEXTO_PLANO</value>
                      <value>HTML</value>
                    </choice>
                  </attribute>
                </optional>
                <ref name="any_content"/>
              </element>
            </optional>
            <element name="METADATA">
              <text>
                <a:documentation>Palabras claves separadas por comas</a:documentation>
              </text>
            </element>
            <element name="EDITORIAL">
              <text/>
            </element>
            <element name="COLECCION">
              <text/>
            </element>
            <element name="CODIGO_BARRACOLECCION">
              <text/>
            </element>
            <element name="FECHA_PUBLICACION">
              <data type="dateTime"/>
            </element>
            <element name="PRECIO_COMPRA">
              <data type="decimal"/>
            </element>
            <element name="MONEDA_COMPRA">
              <text/>
            </element>
            <element name="PRECIO_VENTA">
              <data type="decimal"/>
            </element>
            <element name="MONEDA_VENTA">
              <text/>
            </element>
            <element name="ESTADO">
              <text/>
            </element>
            <element name="NOVEDAD">
              <text/>
            </element>
            <element name="ES_TEXTO">
              <text/>
            </element>
            <optional>
              <element name="IDIOMA">
                <text/>
              </element>
            </optional>
            <element name="PAGINAS">
              <text/>
            </element>
            <element name="ALTURA">
              <data type="int"/>
            </element>
            <element name="LARGO">
              <data type="int"/>
            </element>
            <element name="ANCHO">
              <data type="int"/>
            </element>
            <element name="UM">
              <text/>
            </element>
            <element name="PESO">
              <data type="int"/>
            </element>
            <element name="UM_PESO">
              <text/>
            </element>
            <element name="NRO_EDICION">
              <text/>
            </element>
            <element name="FORMATO">
              <a:documentation>Tabla ONIX de formatos</a:documentation>
              <text/>
            </element>
            <element name="PAIS_IMPRESION">
              <text/>
            </element>
            <optional>
              <element name="FECHA_IMPRESION">
                <data type="dateTime"/>
              </element>
            </optional>
            <element name="ACTIVO">
              <choice>
                <value>S</value>
                <value>N</value>
              </choice>
            </element>
            <element name="AGOTADO">
              <choice>
                <value>S</value>
                <value>N</value>
              </choice>
            </element>
            <element name="CATEGORIAS">
              <zeroOrMore>
                <element name="CATEGORIA">
                  <attribute name="TIPO"/>
                  <text/>
                </element>
              </zeroOrMore>
            </element>
            <optional>
              <element name="LINKS">
                <zeroOrMore>
                  <element name="LINK">
                    <attribute name="TIPO">
                      <choice>
                        <value>PORTADA</value>
                        <value>VIDEO</value>
                        <value>PRENSA</value>
                        <value>PDF_CAPITULOS</value>
                        <value>EPUB_CAPITULOS</value>
                      </choice>
                    </attribute>
                    <text>
                      <a:documentation>Direccion http o ftp (en formato ftp://usuario:clave@host/carpeta)</a:documentation>
                    </text>
                  </element>
                </zeroOrMore>
              </element>
            </optional>
            <element name="AUTORES">
              <zeroOrMore>
                <element name="ITEM">
                  <interleave>
                    <attribute name="TIPO"/>
                    <element name="APELLIDO">
                      <text/>
                    </element>
                    <element name="NOMBRE">
                      <text/>
                    </element>
                    <element name="BIOGRAFIA">
                      <optional>
                        <attribute name="TIPO_CONTENIDO">
                          <choice>
                            <value>TEXTO_PLANO</value>
                            <value>HTML</value>
                          </choice>
                        </attribute>
                      </optional>
                      <ref name="any_content"/>
                    </element>
                  </interleave>
                </element>
              </zeroOrMore>
            </element>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="contenidocambiodeprecio">
    <element name="CONTENIDO">
      <element name="FECHA_VIGENCIA">
        <a:documentation>Fecha a partir de la cual los cambios de precio entran en vigencia</a:documentation>
        <data type="dateTime"/>
      </element>
      <element name="CAMBIOS">
        <oneOrMore>
          <ref name="cambiodeprecio"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="cambiodeprecio">
    <element name="CAMBIO_DE_PRECIO">
      <ref name="id_libro"/>
      <ref name="precio"/>
      <optional>
        <element name="DESCUENTO">
          <data type="decimal"/>
        </element>
      </optional>
      <element name="PRECIO_ANTERIOR">
        <ref name="moneda"/>
        <element name="VALOR">
          <data type="decimal"/>
        </element>
        <element name="TIPO">
          <choice>
            <value>PVP</value>
            <value>NETO</value>
            <value>PVP_SINIVA</value>
            <value>NETO_SINIVA</value>
          </choice>
        </element>
      </element>
    </element>
  </define>
  <define name="id_libro">
    <element name="ID_LIBRO">
      <element name="EAN">
        <a:documentation>Se deben tratar de completar la mayor cantidad de códigos
posibles, para facilitar al receptor resolver ambigüedades</a:documentation>
        <text/>
      </element>
      <optional>
        <element name="ISBN_13">
          <a:documentation>ISBN_13 con o sin guiones, de ser posible, con guiones</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="ISBN_10">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="COD_ARTICULO">
          <a:documentation>Es el código interno con el que la EDITORIAL (o PROVEEDOR),
se refiere al libro.</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="TITULO">
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="contenidopedido">
    <element name="CONTENIDO">
      <element name="NUMERO_DOCUMENTO">
        <text/>
      </element>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <element name="TIPO_OPERACION">
        <choice>
          <value>FIRME</value>
          <value>CONSIGNACION</value>
          <value>FIRME_CON_DERECHO</value>
          <value>DONACION</value>
        </choice>
      </element>
      <element name="TIPO_ENTREGA">
        <choice>
          <value>ENVIO</value>
          <value>RETIRA</value>
        </choice>
      </element>
      <optional>
        <element name="TRANSPORTE">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="PAGA_EN">
          <choice>
            <value>ORIGEN</value>
            <value>DESTINO</value>
          </choice>
        </element>
      </optional>
      <optional>
        <element name="OBSERVACIONES_ENTREGA">
          <text/>
        </element>
      </optional>
      <oneOrMore>
        <element name="DETALLE">
          <optional>
            <attribute name="ID_SUCURSAL">
              <a:documentation>Sucursal a la que corresponde el pedido. Si no está presente se considera
la sucursal indicada en la cabecera</a:documentation>
            </attribute>
          </optional>
          <oneOrMore>
            <ref name="librocantidad"/>
          </oneOrMore>
        </element>
      </oneOrMore>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="contenidoremito">
    <element name="CONTENIDO">
      <element name="NUMERO_DOCUMENTO">
        <a:documentation>En el caso de Argentina debe indicarse el número completo
legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)</a:documentation>
        <text/>
      </element>
      <optional>
        <element name="TRANSPORTE_NUMERICO">
          <a:documentation>Transporte de los números del remito - Optativo, si no está el remito 
solo usa un solo número</a:documentation>
          <element name="DESDE">
            <text/>
          </element>
          <element name="HASTA">
            <text/>
          </element>
        </element>
      </optional>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <optional>
        <element name="FECHA_VTO">
          <a:documentation>Fecha de vencimiento del remito.</a:documentation>
          <data type="dateTime"/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_PEDIDO">
          <a:documentation>Número de pedido de quien recibe el remito (cliente)
También conocido como número de Orden de Compra</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_PEDIDO_PROVEEDOR">
          <a:documentation>Número de pedido del emisor del remito</a:documentation>
          <text/>
        </element>
      </optional>
      <element name="TIPO_OPERACION">
        <choice>
          <value>FIRME</value>
          <value>CONSIGNACION</value>
          <value>FIRME_CON_DERECHO</value>
          <value>DONACION</value>
        </choice>
      </element>
      <element name="TIPO_ENTREGA">
        <choice>
          <value>ENVIO</value>
          <value>RETIRA</value>
        </choice>
      </element>
      <optional>
        <element name="TRANSPORTE">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="OBSERVACIONES_ENTREGA">
          <text/>
        </element>
      </optional>
      <element name="DETALLE">
        <oneOrMore>
          <ref name="itemremito"/>
        </oneOrMore>
      </element>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="aduana">
    <element name="ADUANA">
      <element name="NUMERO_DESPACHO">
        <a:documentation>Número de despacho a plaza</a:documentation>
        <text/>
      </element>
      <element name="PAIS_ORIGEN">
        <a:documentation>TODO: definir la codificación del país</a:documentation>
        <text/>
      </element>
    </element>
  </define>
  <define name="impuesto">
    <element name="IMPUESTO">
      <element name="TIPO">
        <choice>
          <value>IVA</value>
          <value>PERC_IIBB</value>
          <value>PERC_IVA</value>
          <value>BASE_RETENCION_IIBB</value>
        </choice>
      </element>
      <optional>
        <element name="PROVINCIA">
          <a:documentation>Provincia para la base de retencion iibb.</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="ALICUOTA">
          <data type="decimal"/>
        </element>
      </optional>
      <optional>
        <element name="BASE">
          <a:documentation>Base sobre la que se calcula el importe, en el caso del IVA
sería el NETO GRAVADO.
En el caso de la BASE_RETENCION_IIBB la suma de las bases
no incluyen otros impuestos</a:documentation>
          <data type="decimal"/>
        </element>
      </optional>
      <optional>
        <element name="IMPORTE">
          <a:documentation>En el caso de BASE_RETENCION_IIBB, que es solo informativo
el importe sería cero.</a:documentation>
          <data type="decimal"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="referencia_a_remito">
    <element name="ITEM">
      <element name="NUMERO_REMITO">
        <text/>
      </element>
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
    </element>
  </define>
  <define name="itemfactura">
    <element name="ITEM">
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
      <ref name="precio"/>
      <element name="DESCUENTO">
        <data type="decimal"/>
      </element>
      <optional>
        <element name="REMITOS">
          <a:documentation>Detalle de los remitos a los que aplica el ítem de factura
Si está indicado, la suma de las cantidades debe coincidir con la
cantidad del ítem</a:documentation>
          <oneOrMore>
            <ref name="referencia_a_remito"/>
          </oneOrMore>
        </element>
      </optional>
      <element name="TOTAL">
        <data type="decimal"/>
      </element>
      <optional>
        <ref name="aduana"/>
      </optional>
    </element>
  </define>
  <define name="contenidofactura">
    <element name="CONTENIDO">
      <optional>
        <ref name="letrafactura"/>
      </optional>
      <element name="NUMERO_DOCUMENTO">
        <a:documentation>En el caso de Argentina debe indicarse el número completo
legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)</a:documentation>
        <text/>
      </element>
      <optional>
        <element name="TRANSPORTE_NUMERICO">
          <a:documentation>Transporte de los números del remito - Optativo, si no está el remito 
solo usa un solo número</a:documentation>
          <element name="DESDE">
            <text/>
          </element>
          <element name="HASTA">
            <text/>
          </element>
        </element>
      </optional>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <element name="FECHA_VTO">
        <data type="dateTime"/>
      </element>
      <optional>
        <element name="TIPO_DOCUMENTO">
          <a:documentation>Tipo de documento, si no se indica, es Factura</a:documentation>
          <choice>
            <value>FACTURA</value>
            <value>NOTA_DE_DEBITO</value>
          </choice>
        </element>
      </optional>
      <element name="TIPO_OPERACION">
        <choice>
          <value>FIRME</value>
          <value>BAJA_CONSIGNACION</value>
          <value>FIRME_CON_DERECHO</value>
          <value>OTROS</value>
          <value>ND_RECHAZO_CHEQUE</value>
          <value>ND_INTERES</value>
        </choice>
      </element>
      <optional>
        <element name="NUMERO_PEDIDO">
          <a:documentation>Número de pedido o de liquidación de venta, según corresponda
si fuera contra varios pedidos, se separan los números con
coma</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_PEDIDO_PROVEEDOR">
          <a:documentation>Número de pedido del emisor del remito</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_DECLAVENTA">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_REMITO">
          <a:documentation>Número de remito al que aplica la factura.
Indicarlo implica que TODA la factura aplica a este remito.</a:documentation>
          <text/>
        </element>
      </optional>
      <element name="TOTAL">
        <a:documentation>Total de la factura - Incluye impuestos</a:documentation>
        <ref name="moneda"/>
        <element name="VALOR">
          <data type="decimal"/>
        </element>
      </element>
      <optional>
        <element name="IMPUESTOS">
          <oneOrMore>
            <ref name="impuesto"/>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="DETALLE_TEXTO">
          <text/>
        </element>
      </optional>
      <element name="DETALLE">
        <oneOrMore>
          <ref name="itemfactura"/>
        </oneOrMore>
      </element>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="itemfacturaremito">
    <element name="ITEM">
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
      <ref name="precio"/>
      <element name="DESCUENTO">
        <data type="decimal"/>
      </element>
      <element name="TOTAL">
        <data type="decimal"/>
      </element>
      <optional>
        <ref name="aduana"/>
      </optional>
    </element>
  </define>
  <define name="contenidofacturaremito">
    <element name="CONTENIDO">
      <optional>
        <ref name="letrafactura">
          <a:documentation>En el caso de Argentina debe indicarse el número completo
legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)</a:documentation>
        </ref>
      </optional>
      <element name="NUMERO_DOCUMENTO">
        <text/>
      </element>
      <optional>
        <element name="TRANSPORTE_NUMERICO">
          <a:documentation>Transporte de los números del remito - Optativo, si no está el remito 
solo usa un solo número</a:documentation>
          <element name="DESDE">
            <text/>
          </element>
          <element name="HASTA">
            <text/>
          </element>
        </element>
      </optional>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <element name="FECHA_VTO">
        <data type="dateTime"/>
      </element>
      <element name="TIPO_OPERACION">
        <choice>
          <value>FIRME</value>
          <value>REPOSICION</value>
          <value>FIRME_CON_DERECHO</value>
        </choice>
      </element>
      <optional>
        <element name="NUMERO_PEDIDO">
          <a:documentation>Número de pedido de quien recibe el remito (cliente)
También conocido como número de Orden de Compra</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_PEDIDO_PROVEEDOR">
          <a:documentation>Número de pedido del emisor del remito</a:documentation>
          <text/>
        </element>
      </optional>
      <element name="TIPO_ENTREGA">
        <choice>
          <value>ENVIO</value>
          <value>RETIRA</value>
        </choice>
      </element>
      <optional>
        <element name="TRANSPORTE">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="OBSERVACIONES_ENTREGA">
          <text/>
        </element>
      </optional>
      <element name="TOTAL">
        <a:documentation>Total de la factura</a:documentation>
        <ref name="moneda"/>
        <element name="VALOR">
          <data type="decimal"/>
        </element>
      </element>
      <optional>
        <element name="IMPUESTOS">
          <oneOrMore>
            <ref name="impuesto"/>
          </oneOrMore>
        </element>
      </optional>
      <element name="DETALLE">
        <oneOrMore>
          <ref name="itemfacturaremito"/>
        </oneOrMore>
      </element>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="contenidodeclaventa">
    <element name="CONTENIDO">
      <element name="NUMERO_DOCUMENTO">
        <text/>
      </element>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <optional>
        <element name="TIPO_DECLARACION">
          <choice>
            <value>VENTA_ENTRE_FECHAS</value>
            <value>DIFERENCIA_DE_STOCK</value>
          </choice>
        </element>
      </optional>
      <optional>
        <element name="RANGO_DE_VENTAS">
          <element name="DESDE">
            <data type="dateTime"/>
          </element>
          <element name="HASTA">
            <data type="dateTime"/>
          </element>
        </element>
      </optional>
      <element name="DETALLE">
        <oneOrMore>
          <ref name="librocantidadpreciooptativo"/>
        </oneOrMore>
      </element>
      <optional>
        <element name="IMPUESTOS">
          <a:documentation>En este punto se indica la distribución impositiva
para la base imponible de retención. Es solo indicativo
para aquellos proveedores que no cuenten con esta
información en su sistema.</a:documentation>
          <oneOrMore>
            <ref name="impuesto"/>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="contenidomensajegenerico">
    <element name="CONTENIDO">
      <optional>
        <element name="NUMERO_REMITO">
          <a:documentation>Tipos de mensajes:
* SOLICITUD_DEVOLUCION: desde el editor al librero.
  El editor solicita que le devuelvan determinados libros.
* SOLICITUD_RETIRO_DEVOLUCION: desde el librero al editor,
  que solicita que pasen a retirar una devolución.
* RETIRO_DEVOLUCION: desde el librero al editor,
  que informa que la devolución fue retirada.
* OTRO: para otros casos.
Número de remito en los casos en que aplica</a:documentation>
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <element name="DETALLE">
          <optional>
            <attribute name="ID_SUCURSAL"/>
          </optional>
          <oneOrMore>
            <ref name="librocantidadpreciooptativo"/>
          </oneOrMore>
        </element>
      </zeroOrMore>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="itemrecepciondevolucion">
    <element name="ITEM">
      <element name="CANTIDAD">
        <a:documentation>Cantidad recibida</a:documentation>
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
      <optional>
        <ref name="precio"/>
      </optional>
      <optional>
        <element name="CANTIDAD_REMITO_CLIENTE">
          <a:documentation>Cantidad indicada en remito de cliente, si hubiera varios sería la suma</a:documentation>
          <data type="int"/>
        </element>
      </optional>
      <optional>
        <element name="CANTIDAD_NOTA_CREDITO">
          <a:documentation>Cantidad imputada a Notas de Crédito</a:documentation>
          <data type="int"/>
        </element>
      </optional>
      <optional>
        <element name="CANTIDAD_NOTA_DEVOLUCION">
          <a:documentation>Cantidad imputada a Notas de devolución de consignación</a:documentation>
          <data type="int"/>
        </element>
      </optional>
      <optional>
        <element name="CANTIDAD_PENDIENTE">
          <a:documentation>Cantidad pendiente de imputación - Solo presente en documentos de
tipo RECEPCIONDEVOLUCION_PENDIENTE</a:documentation>
          <data type="int"/>
        </element>
      </optional>
      <optional>
        <element name="CANTIDAD_RECHAZADA">
          <a:documentation>Cantidad rechazada</a:documentation>
          <data type="int"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="contenidorecepciondevolucion">
    <element name="CONTENIDO">
      <optional>
        <element name="NUMERO_DOCUMENTO">
          <a:documentation>Documento que emite el editor cuando recibe una devolución.
donde informa las cantidades recibidas y a qué las imputa.
Este elemento se usa para RECEPCIONDEVOLUCION y para
RECEPCIONDEVOLUCION_PENDIENTE</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="REMITOS_CLIENTE">
          <a:documentation>Número(s) de remito(s) de la devolución del librero</a:documentation>
          <oneOrMore>
            <element name="NUMERO_REMITO">
              <text/>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <element name="DETALLE">
        <oneOrMore>
          <ref name="itemrecepciondevolucion"/>
        </oneOrMore>
      </element>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="contenidoacuserecibo">
    <element name="CONTENIDO">
      <element name="DOCUMENTO_REFERENCIA">
        <a:documentation>Acuse de recibo</a:documentation>
        <ref name="tipomensaje"/>
        <optional>
          <element name="IDENTIFICADOR">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="NUMERO_DOCUMENTO">
            <text/>
          </element>
        </optional>
      </element>
      <element name="TIPO_ACUSE">
        <choice>
          <value>RECEPCION_ELECTRONICA</value>
          <value>RECEPCION_FISICA</value>
          <value>PROCESADO</value>
        </choice>
      </element>
      <element name="RESULTADO">
        <choice>
          <value>OK</value>
          <value>CON_INCIDENCIAS</value>
          <value>RECHAZADO</value>
        </choice>
      </element>
      <optional>
        <element name="DIFERENCIAS">
          <element name="DIFERENCIA">
            <ref name="id_libro"/>
            <element name="CANTIDAD_TEORICA">
              <a:documentation>La cantidad que debería haberse recibido
para que el documento se procese sin incidencias</a:documentation>
              <data type="int"/>
            </element>
            <element name="CANTIDAD_REAL">
              <a:documentation>La cantidad efectivamente recibida</a:documentation>
              <data type="int"/>
            </element>
            <optional>
              <element name="OBSERVACIONES">
                <text/>
              </element>
            </optional>
          </element>
        </element>
      </optional>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="referencia_a_factura">
    <element name="ITEM">
      <element name="NUMERO_FACTURA">
        <text/>
      </element>
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
    </element>
  </define>
  <define name="itemnotacredito">
    <element name="ITEM">
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
      <ref name="precio"/>
      <element name="DESCUENTO">
        <data type="decimal"/>
      </element>
      <optional>
        <element name="FACTURAS">
          <a:documentation>Detalle de los remitos a los que aplica el ítem de factura
Si está indicado, la suma de las cantidades debe coincidir con la
cantidad del ítem</a:documentation>
          <oneOrMore>
            <ref name="referencia_a_factura"/>
          </oneOrMore>
        </element>
      </optional>
      <element name="TOTAL">
        <data type="decimal"/>
      </element>
    </element>
  </define>
  <define name="contenidonotacredito">
    <element name="CONTENIDO">
      <optional>
        <ref name="letrafactura"/>
      </optional>
      <element name="NUMERO_DOCUMENTO">
        <a:documentation>En el caso de Argentina debe indicarse el número completo
legal, Ejemplo: 0001-00023342 (4 dígitos + "-" + 8 dígitos)</a:documentation>
        <text/>
      </element>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <optional>
        <element name="MOTIVO">
          <choice>
            <value>DEVOLUCION</value>
            <value>DESCUENTO</value>
            <value>OTRO</value>
            <value>DEVOLUCION_POR_FALLA</value>
            <value>DIFERENCIA_FACTURACION</value>
          </choice>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_DEVOLUCION">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_FACTURA">
          <a:documentation>Número de factura al que aplica la NC
Indicarlo implica que TODA la NC aplica a esta factura</a:documentation>
          <text/>
        </element>
      </optional>
      <element name="TOTAL">
        <a:documentation>Total de la NC - Incluye impuestos</a:documentation>
        <ref name="moneda"/>
        <element name="VALOR">
          <data type="decimal"/>
        </element>
      </element>
      <optional>
        <element name="IMPUESTOS">
          <oneOrMore>
            <ref name="impuesto"/>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="DETALLE_TEXTO">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="DETALLE">
          <oneOrMore>
            <ref name="itemnotacredito"/>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
  <define name="itemnotadevolucion">
    <element name="ITEM">
      <element name="CANTIDAD">
        <data type="int"/>
      </element>
      <ref name="id_libro"/>
      <optional>
        <ref name="precio"/>
      </optional>
      <optional>
        <element name="REMITOS">
          <a:documentation>Detalle de los remitos a los que aplica el ítem de factura
Si está indicado, la suma de las cantidades debe coincidir con la
cantidad del ítem</a:documentation>
          <oneOrMore>
            <ref name="referencia_a_remito"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="contenidonotadevolucion">
    <element name="CONTENIDO">
      <element name="NUMERO_DOCUMENTO">
        <text/>
      </element>
      <element name="FECHA">
        <data type="dateTime"/>
      </element>
      <optional>
        <element name="MOTIVO">
          <choice>
            <value>DEVOLUCION</value>
            <value>AJUSTE</value>
          </choice>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_DEVOLUCION">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="NUMERO_REMITO">
          <a:documentation>Número de remito al que aplica la nota de devolución
Indicarlo implica que TODA la dev aplica a este remito</a:documentation>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="DETALLE">
          <oneOrMore>
            <ref name="itemnotadevolucion"/>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <ref name="observaciones"/>
      </optional>
    </element>
  </define>
</grammar>
